.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background: linear-gradient(258deg, #5B2FA3 0%, rgba(44, 34, 61, 0.79) 100%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
    padding: 0 40px;
}
.logo {
    width: 180px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    user-select: none;
    transition: transform .3s ease;
}
.animLogo {
    transform: scale(0.8) translateX(-40px);
}
.login {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 60px;
    gap: 20px;
    transition: transform .3s ease;
    user-select: none;
}
.login:hover {
    transform: scale(1.1);
}

.login p {
    color: #fff;
    font-weight: 500;
}
